@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1100px;
    display: flex;
}

.w-800 {
    width: 800px;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: 48px;
}

.flex-dr-column {
    flex-direction: column;
}


.header {
    height: 50px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
}

#banner {
    height: 500px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 48px;

}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding-inline: 0;
    padding-block: 0;
}
.main-btn {
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 8px 32px;
    margin-top: 8px;
    border-radius: 6px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

}

.action-banner {
    flex: 1;
}
.photo-banner {
    flex: 1;
    background: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 48px 0;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min-content;
}
.photo-card {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 16px;
    border: 4px solid #3882F6;
    margin-bottom: 8px;
}

#cards {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-card {
    color:  gray;
    font-weight: 400;
}

#words {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.words {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    font-weight: 700;
    font-size: 24px;
    align-self: flex-end;
}
#action {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-container {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}

.action-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    border:#E5E7EB solid 2px;
    margin: 0;
    height: min-content;
    justify-content: center;
    
}

.header-action {
    margin: 0;
    text-align: left;
    color: #E5E7EB;
    font-size: 24px;
}
.footer {
    background-color: #1F2937;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}





